@use 'base/variables' as v;
@use 'base/mixins' as m;

.paquetes{
    &__grid{
        @include m.contenedor;
        @include m.grid(1, 3rem);
        @include m.tablet{
            @include m.grid(3, 3rem);
        }
    }

    &__submit{
        @include m.boton(v.$azul, v.$blanco);
        margin-top: 2rem
    }
}

.paquete{
    @include m.card;
    &:nth-child(2){
        order: -1;

        @include m.tablet{
            &:nth-child(2){
                order: unset;
            }
        }
    }

    &__lista{
        @include m.reset-lista;
        line-height: 2;
    }

    &__precio{
        color: v.$azul;
        font-size: 6rem;
        font-weight: v.$black;
        text-align: center;
        margin: 3rem 0;
    }
}