@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$azul;
    color: v.$blanco;
    margin-top: 5rem;
    padding-top: 3rem;

    &__grid{
        @include m.contenedor;
        @include m.tablet{
            @include m.grid(2, 3rem);
        }
    }

    &__logo{
        @include m.logo;
        @include m.texto-fluido(2rem, 4rem);
    }

    &__texto{
        line-height: 2;
        text-align: center;

        @include m.tablet{
            text-align: left;
        }
    }

    &__copyright{
        background-color: darken($color: v.$azul, $amount: 15%);
        font-size: 1.6rem;
        font-weight: v.$bold;
        text-align: center;
        padding: 2rem;
        margin: 3rem 0 0 0;

        &--regular{
            font-weight: v.$regular;
        }
    }
}