@use 'base/variables' as v;

.alerta{
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: v.$bold;
    text-transform: uppercase;


    &__error{
        background-color: lighten($color: v.$rojo, $amount: 60%);
        color: v.$rojo;
        border-left: .5rem solid v.$rojo;
        border-radius: 0 1rem 1rem 0;
    }

    &__exito{
        background-color: lighten($color: v.$verde, $amount: 40%);
        color: darken($color: v.$verde, $amount: 20%);
        border-left: .5rem solid v.$verde;
        border-radius: 0 1rem 1rem 0;
    }
}